:root {
  --color-scheme: var(--no-dark-mode);

  --font-family: system-ui;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-200: rgb(255, 255, 255);
  --clr-primary-300: rgb(255, 243, 230);
  --clr-primary-400: rgb(251, 216, 176);
  --clr-primary-500: rgb(250, 203, 128);
  --clr-secondary-300: rgb(229, 200, 200);
  --clr-secondary-400: rgb(229, 134, 119);
  --clr-secondary-500: rgb(229, 92, 72);
  --clr-accent-300: rgb(206, 85, 85);
  --clr-accent-400: rgb(181, 43, 64);
  --clr-accent-500: rgb(131, 10, 28);
  --clr-shadow-200: rgb(184 184 184);
  --clr-shadow-300: rgb(92, 92, 92);
  --clr-shadow-400: rgb(64, 64, 64);
  --clr-shadow-500: rgb(36, 36, 36);
  --clr-shadow-600: rgb(18, 18, 18);
  --clr-transp-300: rgba(255, 255, 255, 0.7);
  --clr-transp-400: rgba(54, 54, 54, 0.5);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  min-height: 100vh;
  margin: auto;
  text-rendering: optimizeSpeed;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
  background: linear-gradient(0.45turn, var(--clr-primary-400) 50%, var(--clr-primary-200) 80%);
  scroll-behavior: smooth;
  z-index: 0;
}

div.root::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/pets.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

.root {
  width: min(60rem, 100% - 2rem);
  margin-inline: auto;
  display: flex;
}

.h1 {
  font-size: var(--fs-900);
  line-height: 1.05;
  text-transform: uppercase;
}

.h2 {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.home-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 1;
}

.feed-div {
  position: relative;
  z-index: 1;
}

.logo {
  max-width: 50%;
  min-width: 12rem;
  margin: 1em 0;
}

.logo:hover {
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}