:root {
  --color-scheme: var(--no-dark-mode);

  --font-family: system-ui, sans-serif;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-000: rgba(255, 255, 255, 0.8);
  --clr-primary-200: rgb(255, 255, 255);
  --clr-primary-300: rgb(255, 243, 230);
  --clr-primary-400: rgb(251, 216, 176);
  --clr-primary-500: rgb(250, 203, 128);
  --clr-secondary-300: rgb(229, 200, 200);
  --clr-secondary-400: rgb(229, 134, 119);
  --clr-secondary-500: rgb(229, 92, 72);
  --clr-accent-300: rgb(206, 85, 85);
  --clr-accent-400: rgb(181, 43, 64);
  --clr-accent-500: rgb(131, 10, 28);
  --clr-shadow-200: rgb(184 184 184);
  --clr-shadow-300: rgb(92, 92, 92);
  --clr-shadow-400: rgb(64, 64, 64);
  --clr-shadow-500: rgb(36, 36, 36);
  --clr-shadow-600: rgb(18, 18, 18);
  --clr-transp-300: rgba(255, 255, 255, 0.7);
  --clr-transp-400: rgba(54, 54, 54, 0.5);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

@font-face {
  font-family: "FontAwesome";
  src: url("./assets/fonts/fontawesome.woff2") format("woff2"), format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  1000% {
    transform: translateY(0%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

.modal {
  margin: auto !important;
}

html {
  color-scheme: var(--color-scheme);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: auto;
  text-rendering: optimizeSpeed;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(0.45turn, var(--clr-primary-400) 50%, var(--clr-primary-200) 80%);
  scroll-behavior: smooth;
  z-index: 0;
}

div.root::before {
  position: fixed;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/pets.webp);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: bottom right;
  z-index: 1;
}

.root {
  width: min(60rem, 100% - 2rem);
  margin-inline: auto;
  display: flex;
}

h1 {
  min-width: 0;
  font-size: var(--fs-600);
  line-height: 1.05;
  text-transform: uppercase;
}

h2 {
  min-width: 0;
  line-height: 1.1;
  white-space: pre-line;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: var(--fs-500);
}

h3 {
  min-width: 0;
  color: var(--clr-accent-400);
  font-weight: 600;
  font-size: var(--fs-400);
}

p {
  min-width: 0;
  line-height: 1.3;
  white-space: pre-line;
  text-wrap: balance;
  overflow-wrap: break-word;
}

header {
  display:flex;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 1.5fr 0.5fr;
  align-items: center;
  justify-items: center;
  gap: 1em;
  margin: 1em;
  text-align: center;
}

nav > :nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 5;
  font-weight: 700;
}

nav > :nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}

nav > :nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.textarea {
  height: auto;
  min-width: 175px;
  padding: 0 0.4em;
}

.modal {
  padding: 1.5rem 2rem;
  border:none;
  border-radius: 8px;
  background-color: var(--clr-primary-300);
}

.modal:focus-visible {
  outline: none;
}

.modal[open]::backdrop{
  background: rgba(36, 36, 36, 0.2);
  backdrop-filter: blur(4px);
}

.modal[open] > div {
  display: grid;
  justify-items: center;
}

.edit-modal[open] > div,
.delete-modal[open] > div,
.update-modal[open]  > div {
  grid-template-columns: 1fr 1fr;
}

.dialog-wrapper {
  gap: 0.8em;
  text-align: center;
  align-items: center;
}

.dialog-wrapper > p,
.dialog-wrapper > h3,
.dialog-wrapper > textarea,
.dialog-wrapper > input {
  grid-column-start: 1;
  grid-column-end: 3;
}

.modal[open] {
  animation: slide-up 500ms forwards, fade-in 1000ms forwards;
}

.about-modal {
  width: min(60rem, 100% - 2rem);
}

.about-modal > .dialog-wrapper {
  grid-template-columns: 1fr;
}

.home-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 2;
}

.profile-nav {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.feed-div {
  position: relative;
  z-index: 2;
  min-width: 0;
}

.content-wrapper {
  display: grid;
  gap: 0.5em;
  background-repeat: no-repeat;
  background-color: var(--clr-primary-000);
  padding: 2rem;
  justify-items: center;
  border-radius: 8px;
  color: var(--clr-accent-400);
}

.logo {
  max-width: 50%;
  min-width: 12rem;
  margin: 1em 0;
}

.logo:hover {
  cursor: pointer;
}

.user-img {
  height: 3em;
  width: 3em;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.button {
  max-width: 12.5rem;
  min-width: 200px;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: var(--fs-300);
  height: 2.5rem;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: auto 20px;
  background-color: var(--clr-accent-400);
  color: var(--clr-primary-300);
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.button:hover, .button:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  background-color: var(--clr-accent-300);
}

button.small-button {
  min-width: 6rem;
}

.posts-wrapper {
  display: grid;
  gap: 1.5rem;
  min-width: 0;
}

.card {
  background-color: var(--clr-primary-000);
  padding: 1rem 2rem;
  justify-items: center;
  border-radius: 8px;
  color: var(--clr-shadow-500);
  font-weight: 400;
  font-size: var(--fs-400);
  box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem var(--clr-transp-400);
  min-width: 0;
}

.post-card-wrapper {
  display:grid;
  gap: 1rem;
}
.button-group, .like-wrapper {
  justify-self: end;
}

.button-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.like-wrapper {
  display:flex;
  gap: 0.5em;
  color: var(--clr-accent-400);
  font-weight: 500;
  align-items: center;
}

.feed-input {
  min-width: 100%;
}

.title {
  font-weight: 500;
}

.post-text {
  font-weight: 400;
}

.like-icon {
  height: 1.4em;
  width: 1.4em;
  display: inline-block;
  cursor: pointer;
}

.input {
  padding-inline: 0.6em;
  border-radius: 4px;
  max-width: 12.5rem;
  height: 2.5rem;
  color: var(--clr-shadow-300);
  border: 1px solid var(--clr-shadow-200);
}

.input-wrapper {
  position: relative;
  line-height: 14px;
  margin: 0 10px ;
  display:inline-block;
  min-width: 200px;
  max-width:12.5rem;
  height: 2.5rem;
  background-color: #fff;
}

.input-text {
  position:absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  outline: none;
  background:none;
  transition: all 160ms ease-in;
}

.input-text:hover {
  border-color: var(--clr-accent-300);
}

.input-text:focus {
  border-color: var(--clr-accent-400);
}

.input-text:focus ~ .input-label,
.input-text:not(:placeholder-shown) ~ .input-label,
.input-text:not(:placeholder-shown):focus ~ .input-label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.6rem;
  color: var(--clr-accent-400);
}
.input-text:not(:focus):not(:placeholder-shown) ~ .input-label {
  color: var(--clr-shadow-200);
  background-color: var(--clr-primary-200);
}

.input-label {
  position: absolute;
  left: 0.4rem;
  top: 0.8rem;
  padding:0 0.5rem;
  color: var(--clr-shadow-300);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  background-color: #fff;
}

.top-button {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 2em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--clr-primary-000);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.top-button:hover, .top-button:focus {
  background-color: var(--clr-primary-200);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.loading {
  display: none;
}

.loading.active {
  display: block;
  font-size: var(--fs-500);
  text-align: center;
  text-shadow: 1px 1px 6px var(--clr-primary-200);
  margin: 10px 0;
}

/* --------- FONT AWESOME CLASSES --------- */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: var(--fs-600);
  color: var(--clr-shadow-400);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-up:before {
  content: "\f077";
}

/* Google button */
.gsi-material-button {
  user-select:none;
  appearance:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: 200px;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

/* Mobile */
@media (max-width: 500px) {
  body {
    font-size: var(--fs-500);
  }
  h1 {
    font-size: var(--fs-700);
  }
  h2 {
    text-align: center;
    font-size: var(--fs-600);
  }
  h3 {
    font-size: var(--fs-500);
  }
  div.root:before {
    background-size: 100vw;
  }

  nav {
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.8fr;
    gap: 0.5em;
    text-align: center;
  }
  
  nav > :nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    text-wrap: balance;
    font-weight: 700;
  }
  
  nav > :nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: left;

  }
  
  nav > :nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  button.small-button {
    min-width: fit-content;
    padding: 0 10px;
  }

  .card {
    padding: 0.8rem 1.4rem;
    font-size: var(--fs-500);
  }

  .button-group {
      gap: 0.4rem;
  }

  .like-wrapper {
    gap: 0.2em;
  }

  .edit-modal[open] > div,
  .delete-modal[open] > div,
  .update-modal[open]  > div {
    grid-template-columns: auto auto;
  }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}